.row{
    justify-content: center;
    padding: 100px;
    /* align-items: baseline; */
}
.updateforms{
    /* margin: 100px ; */
    padding:5px;
    border: 2px solid;
    border-radius: 15px;
}  
.button{
    display: flex;
    justify-content:center
}
.mainHeader{
    padding:0px 20px !important;
    position:fixed;
    width:100%;
    height:auto;
    margin-top: -60px;
    background: white;
}