.body{
    display:flex;
    justify-content: center;

}
.miniH{
    padding-left:5%; 
    display:flex;
    align-items:center;
    width: 100%;
}
.mainheader{
    padding:27px 19px !important;
    position:fixed;
    width:100%;
    height:auto;
    margin-top: -82px;
    background: white;
}