/* .register{
    display:flex;
    justify-content: center;
    border:1px solid;
    padding: 15px;
    
} */
.forms{
    margin: 100px ;
    border: 2px solid;
    border-radius: 15px;
}  
.image{
    height:500px;
}
.row{
    justify-content: center;
    padding: 100px;
    /* align-items: baseline; */
}
